:root {
	--colour-generated: #ff0066;
	--lighter-color: #ffffff;
	--light-color: #eaeaea;
	--dark-color: #757575;
	--darker-color: #303030;
	--radius: 0.35rem;
	--radius-small: 0.25rem;
}

html *,
html *:after,
html *:before {
	box-sizing: border-box;
}

html {
	font-family: 'Work Sans', sans-serif;
	color: var(--light-color);
	background-color: var(--lighter-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 1rem);
	background-color: var(--colour-generated);
	transition: background-color 250ms ease-in-out;
}

.module {
	width: 80%;
	max-width: 30rem;
	padding: 1rem;
	text-align: center;
	border-radius: var(--radius);
	background-color: rgba(0, 0, 0, 0.2);
}

.module__heading {
	font-weight: 700;
	margin: 0 auto 2rem;
}

.module__text {
	font-size: 1.25rem;
	font-weight: 400;
	margin-bottom: 1.75rem;
}

.module__btn {
	display: inline-block;
	padding: 1rem 1.5rem;
	font-family: 'Work Sans', sans-serif;
	font-size: 1rem;
	color: var(--dark-color);
	border: none;
	border-radius: var(--radius-small);
	background-color: var(--lighter-color);
	cursor: pointer;
}

.module__btn:active {
	color: var(--light-color);
	background-color: var(--darker-color);
}